@charset "utf-8";

.URLshortner
{
    
    align-content: center;
    padding-top: 20%;
    padding-bottom: 60%;
   
    background-image: url(URLshortner_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.textbox {
        background-color:rgba(0,0,0,0.2);
        color:black;
        border: none;
        outline:none;
        height:30px;
        transition:height 1s;
        -webkit-transition:height 1s;
        
         border-style: solid;
    border-color: #36870d #0000ff;
}