@charset "utf-8";

.URLshortner
{
    
    align-content: center;
    padding-top: 20%;
    padding-bottom: 60%;
   
    background-image: url(URLshortner_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    color: whitesmoke;

}

.textbox {
        background-color:rgba(255,255,255,0.3);
        color:#8600c4;
        border: none;
        outline:none;
         outline-color: #ffffff;
        height:20px;
        transition:height 1s;
        -webkit-transition:height 1s;
       
    border-color: #ffffff #ffffff;
}